SDP Case Sensitivity

**Describe the bug**
A clear and concise description of what the bug is.

Audio playback over RTSP becomes corrupt if "mpeg4-generic" is sent in capitals by the server SDP

**Your Setup (please complete the following information):**
 - Unity version: 2018.4.20f1
 - AVPro Video version: Not sure, issue occurs in VRChat (game that uses AVPro)
 - Operating system version: Windows 10
 - Device model: PC
 - Video specs (resolution, frame-rate, codec, file size): X264 with AAC

**To Reproduce**
1. Create a Unity project with AVPro and setup a standard video player.
2. Point the player to any RTSPT stream URL were the server is sending "MPEG4-GENERIC" in upper case in session description protocol.
3. Witness the ear shattering corrupted audio.


Could you paste us your SDP and anything else so that we can try to replicate the issue?

Thanks,

Hi,

here are the SDPs you requested

Working:
```sdp
v=0
o=- 91614613779 1 IN IP4 172.29.103.185
t=0 0
a=control:*
m=video 0 RTP/AVP 96
a=rtpmap:96 H264/90000
a=fmtp:96 packetization-mode=1;profile-level-id=42C01F;sprop-parameter-sets=Z2QAH6wspQFAFuwFqAgICgAAB9AAAdTBwAAATEsAAA1Z+N3lwUA=,aOuPLA==
a=cliprect:0,0,720,1280
a=framesize:97 1280-720
a=framerate:30.0
a=control:track0
m=audio 0 RTP/AVP 97
a=rtpmap:97 mpeg4-generic/48000/2
a=fmtp:97 profile-level-id=1;mode=AAC-hbr;sizelength=13;indexlength=3;indexdeltalength=3;config=1190
a=control:track1
```

Not working:
```
v=0
o=- 91614614172 1 IN IP4 172.29.103.185
t=0 0
a=control:*
m=video 0 RTP/AVP 96
a=rtpmap:96 H264/90000
a=fmtp:96 packetization-mode=1;profile-level-id=42C01F;sprop-parameter-sets=Z2QAH6wspQFAFuwFqAgICgAAB9AAAdTBwAAATEsAAA1Z+N3lwUA=,aOuPLA==
a=cliprect:0,0,720,1280
a=framesize:97 1280-720
a=framerate:30.0
a=control:track0
m=audio 0 RTP/AVP 97
a=rtpmap:97 MPEG4-GENERIC/48000/2
a=fmtp:97 profile-level-id=1;mode=AAC-hbr;sizelength=13;indexlength=3;indexdeltalength=3;config=1190
a=control:track1
```

The only significant change there is the `mpeg4-generic`/`MPEG4-GENERIC` in MIME for the audio track, but as per RFC 2045 section 5.1 (MIME definition)  MIME subtype should be case insensitive.

Thanks for the example and for reporting this.  Unfortunately the code that handles RTSP is inside Microsoft's Media Foundation DLLs so we cannot change this behaviour.  Hopefully your server can instead send lower-case version.

I'm also not sure that uppercase is valid.  Looking at the documentation:

Here you can see the list of mime-types, and while many are uppercase, mpeg4-generic is lower-case:
https://www.iana.org/assignments/media-types/media-types.xhtml
https://www.iana.org/assignments/media-types/video/mpeg4-generic
https://tools.ietf.org/html/rfc5691#section-5.2

I'm not certain that RFC 2045 section 5.1 applies to SDP.

In any case, we're not able to change this behaviour I'm afraid.
